<% @ideas.each do |idea| %>
<li>
  <%= idea.title %>- <%= idea.body %>

  <%= link_to "edit",edit_user_idea_path(current_user, idea)%>

</li>
<%end %>

<%= link_to "Go back", user_path(current_user) %>
